header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
  border-bottom: 1px solid #555;
}

header h1 {
  align-items: center;
  height: 65%;
}

.header-navigate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  height: 35%;
}

.header-navigate a {
  color: #1100ff;
}
